body {
    margin: 0;
    padding: 0;
    
    height: 100vh;
    background-color: #4A764F;
    justify-content: center;
    align-items: center;
}
.logo {
    float: left;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
    position: relative;  
    color: #4A764F;
}
.header{
    justify-content: space-between;
    display: flex;
    background-color: #EDF1D6;
    color: #fff;
    padding: 10.3px 0;
}
.signin-register a {
    text-decoration: none;
    color: #4A764F;
    padding: 5px 30px;
    float: right;
}
.signin-register a:hover {
    color: #ca0d0d;
}

.welcome-message {
    font-size: 18px;
    color: #4A764F;
    font-weight: bold;
    padding: 5px 20px;
}

/* CSS for the logout link */
.logout-link {
    font-size: 14px;
    
    color: #4A764F;
}

.logout-link:hover {
    text-decoration: underline;
}
nav {
    background-color: #91B082;
    padding: 20px;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
}

nav ul li {
    display: inline-block;
    
    
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 22px 10px 22px;
}

nav ul li a:hover {
    color: #ef0707;
}

/* signin part */
.signin-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; }

.signin-container input[type="email"]::placeholder,
.signin-container input[type="password"]::placeholder {
    text-align: center;
}

.signin-container input[type="email"],
.signin-container input[type="password"],
.signin-container button {
    width: 600px; 
    padding: 20px;
    
    border: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
}

.signin-container button {
    width: 15%;
    padding: 10px 20px;
    background-color: #4a6740;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
}


.signin-container button:hover {
    background-color: #354f2e;
}

/*transparent */
.transparent-box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
    width: 750px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}


/*register */
.signin-container p {
    margin-top: 15px; 
}
.signin-container a {
    color: #4a6740; 
    text-decoration: none;
}

.signin-container a:hover {
    color: #354f2e; 
    text-decoration: underline;
}

/*social icon */
.social-icons {
    text-align: center;
    margin-top: -70px; 
    margin-bottom: 10px; 
}

.social-icons p {
    margin-bottom: 10px;
    color: black; 
}

.social-icons img {
    width: 40px; 
    margin: 0 10px; 
}

.social-icons a {
    text-decoration: none; 
}

.social-icons p{
    padding-top: 20px;
}
