body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    height: 100vh;
    background-color: #EDF1D6;
    justify-content: center;
    align-items: center;
}
.logo {
    float: left;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
    position: relative;  
    color: #EDF1D6;
}
.header{
    justify-content: space-between;
    display: flex;
    background-color: #4A764F;
    color: #EDF1D6;
    padding: 10.3px 0;
}
.header .signin-register  {
    text-decoration: none;
    color: #EDF1D6;
    padding: 5px 30px;
    float: right;
}
.header .signin-register:hover {
    color: #ef0707;
}
nav {
    background-color: #91B082;
    

}

nav ul {
    width: 100%;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
}

nav ul li {
    display: inline-block;
    
    
}

nav ul li a {
    display: block;
    color: #EDF1D6;
    text-decoration: none;
    padding: 10px 22px 10px 22px;
}

nav ul li a:hover {
    color: #ef0707;
}

.transparent-box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
    width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    display: flex; 
    
}

.profile-container {
   
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 90%; 
}
.profile-details {
    
    padding: 20px; 
}

.profile-picture {
   
    margin-right: 10px; 
    
}
.profile-picture img{
    height: 200px;
    width: 200px;
   
}

.update-button {
    width: 15%;
    padding: 10px 20px;
    margin-top: 30%; 
    margin-left: auto;
    margin-right: auto; 
    display: block;
    background-color: #4a6740;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    bottom: -50px;
}

.update-button:hover {
    background-color: #354f2e;
}